<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta email="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta email="description" content=""/>
    <meta email="author" content=""/>
    <title>Página de registro - GymProtES</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico"/>
    <!-- Bootstrap icons-->

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet"/>
    <link href="/css/popup.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">GymProtES</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Inicio</a></li>
                <button type="button" class="btn btn-link" onclick="window.open('http://localhost:8080/sobrenosotros')">Sobre Nosotros</button>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Tienda</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/shop">Todos los productos</a></li>
                        <li><hr class="dropdown-divider"/></li>
                        <li><a class="dropdown-item" href="/popularproducts">Productos populares</a></li>
                        <li><a class="dropdown-item" href="/primes">Novedades</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <div class="dropdown">
                    <button class="dropbtn btn btn-link">CUENTA</button>
                    <div class="dropdown-content">
                        <a href="../static/profile.html">MI PERFIL</a>
                        <a href="/registration">REGISTRARSE</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">GymProtES</h1>
            <p class="lead fw-normal text-white-50 mb-0">Los mejores suplementos y accesorios</p>
        </div>
    </div>
</header>

<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <h1 class="text-center">Gestión de Usuarios</h1>
        <form id="userForm" class="mt-4">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese su nombre">
            </div>
            <div class="form-group">
                <label for="edad">Edad:</label>
                <input type="number" class="form-control" id="edad" name="edad" placeholder="Ingrese su edad">
            </div>
            <div class="form-group">
                <label for="password">password:</label>
                <input type="text" class="form-control" id="password" name="password" placeholder="Ingrese su password">
            </div>
            <button type="button" class="btn btn-primary" onclick="createUser()">Crear Usuario</button>
        </form>
        <div class="user-list mt-5" id="user-list">
            <h2>Lista de Usuarios</h2>
            <!-- Aquí se listarán los usuarios -->
        </div>
    </div>
</section>

<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
<script src="/js/memory.js"></script>
<script src="/js/register.js"></script>

</html>